

<div class="row justify-content-center bg-light-blue h-10rem m-0 p-0">

    <div class="row justify-content-center bg-white m-5 p-5 h-30rem shadow-lg">

            <h3 class="shadow-title"> Bienvenue dans ta messagerie <% if current_user.first_name? %><%= current_user.first_name.capitalize %> <% end %></h3>

          
            <div class="row col-6">
            <%= image_tag('icons/email.png', size:"200x64", class:"img-fluid mx-auto") %>

            </div>

    </div>


</div> 

<div class="row justify-content-center bg-new h-20rem m-0 p-0">

    


</div> 

    

    
