<section class="px-4 p-2 bg-light-grey text-center">


    <h3 class="py-4 text-center"> Comment ça marche ? </br>
    Ton problème, notre solution ! </h3>

    <div class="row p-4 justify-content-center">


        <div class="col hover-animate">

        <%= image_tag("icons/post-your-mission.png", class:"img-fluid") %>

            <h6 class="my-4"> Poste une mission </h6>

        </div>

        <div class="col hover-animate">

            <%= image_tag("icons/select-your-helper.png", class:"img-fluid") %>
            <h6 class="my-4"> Sélectionne tes helpers </h6>

        </div>
        <div class="col hover-animate">

            <%= image_tag("icons/meet-your-helper.png", class:"img-fluid") %>
            <h6 class="my-4"> Rencontre ton helper </h6>

        </div>
        <div class="col hover-animate">

            <%= image_tag("icons/review-mission.png", class:"img-fluid") %>
            <h6 class="my-4"> Note l'intervention </h6>
            
        </div>


    </div>


</section>


           
   