<section class="container col-12" id:"problem-solution-tykle-hero">

    <div class="row">


        <div class="col-6" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("cartoon/cartoon-home", class:"img-fluid w-75 pt-6") %>

        </div>

        <div class="col-6 pr-6">

            <h4 class="pt-10">Tu as un problème ? Quelqu’un
            sur Tynkle a la solution
            </h4>

           <div class="py-4">
            <h5 class="my-4">1- Choisis ton matériel</h5>
            <h5 class="my-4">2- Affine ta recherche</h5>
            <h5 class="my-4">3- Choisis ton/tes helpers</h5>
            </div>
           
            <a href="#" class="btn btn-sm btn-primary text-capitalize">Chercher une solution</a>

            
        </div>


    </div>

</section>