<section class="container col-12">

    <div class="row px-5 pt-5">


        <div class="col-6">


            <h3 class="py-5">Value Proposition
            </h3>

            <h4>Her sun though neer in revellers dote. Was whence nor that to him though ere for had, womans uses monastic.
            </h4>

        </div>


        <div class="col-6" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("photos/landing-page/woman-value-prop", class:"img-fluid", id:"image-value-proposition") %>

        </div>
    </div>

</section>