<section class="container col-12">

    <div class="row pt-5">


        <div class="col-6 pl-5">


            <h3 class="pt-5">Tynkle: un moyen simple de contacter des spécialistes. 
            </h3>



            <h4 class="py-4">La première plateforme exclusivement dédiée à l’entraide informatique.
            </h4>

            <h4 class="pb-4">Tynkle, c'est un moyen fiable de compléter vos revenus ou une solution rapide à moindre coût.</h4>

        

            <a href="#" class="btn btn-sm btn-primary text-capitalize">Essayer Tynkle</a>

          

        </div>


        <div class="col-6" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("photos/landing-page/woman-value-prop", class:"img-fluid", id:"image-value-proposition") %>

        </div>
    </div>



</section>