<section class="container col-12">

    <div class="row pt-5">


        <div class="col-6 pl-5">


            <h3 class="pt-5">Value Proposition
            </h3>



            <h4 class="py-4">Her sun though neer in revellers dote. Was whence nor that to him though ere for had, womans uses monastic.
            </h4>

        

            <a href="#" class="btn btn-sm btn-primary text-capitalize">Essayer Tynkle</a>

          

        </div>


        <div class="col-6" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("photos/landing-page/woman-value-prop", class:"img-fluid", id:"image-value-proposition") %>

        </div>
    </div>



</section>