<section class="container col-12 my-5">

    <div class="row d-flex align-items-center">


        <div class="col-6 d-block align-items-center text-left p-4">


            <h2>Tynkle: </h2> 
            <h3 class="my-4">Un moyen simple de contacter des spécialistes. </h3>



            <h4 class="my-4">La première plateforme exclusivement dédiée à l’entraide informatique.
            </h4>

         
        
            <%= link_to "En savoir +", '/servicesurvey/device_type', class:"btn btn-lg btn-primary text-capitalize"%>

        </div>


        <div class="col-6 p-0">

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 " src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 " src="https://images.pexels.com/photos/1569076/pexels-photo-1569076.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=500">
            </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>

        </div>
    </div>



</section>