<div class="bg-material text-dark-force">

<section class="container col-12 hero-value-prop">

    <div class="row px-5 pt-5">


        <div class="col-6">


            <h3 class="py-5">Value Proposition
            </h3>

            <h4>Her sun though neer in revellers dote. Was whence nor that to him though ere for had, womans uses monastic.
            </h4>

        </div>


        <div class="col-6" data-aos="fade-down"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("photos/landing-page/woman-value-prop", class:"img-fluid", id:"image-value-proposition") %>

        </div>
    </div>

</section>


<section class="container col-12">

    <div class="row">


        <div class="col-6" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("cartoon/cartoon-home", class:"img-fluid w-75") %>

        </div>

        <div class="col-6">

            <h3 class="pt-6">Tu as un problème ? Quelqu’un
            sur Tynkle a la solution
            </h3>

            <ol class="steps-problem-description-home pt-5">
                <li><h4 class="my-4">1/3 Choisis ton matériel</h4></li>
                <li><h4 class="my-4">2/3 Affine ta recherche</h4></li>
                <li><h4 class="my-4">3/3 Choisis ton/tes helpers</h4></li>
            </ol>
            
        </div>


    </div>

</section>



<section class="py-5">
    <div class="container">
        <h3 class="text-center mb-4">Ils ont fait confiance à Tinkle !</h3>

        <div class="row mb-2">

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-0.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Meredith Goodwin</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-1.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Weeks Garrett</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-2.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Fisher Bauer</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-3.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Aguilar Webb</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

        </div>
    </div>

</section>



<section class="container col-12 py-5">

    <div class="row px-5">

        <div class="col-6">

            <h3 class="pt-10">Tynkle toujours avec moi !
            </h3>

            <h5 class="pt-4"> Une plateforme accessible sur tous tes
            appareils
            </h5>
            <h5 class="pt-4"> Un design Responsive et Intuitif
            </h5>

        </div>



        <div class="col-6" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("cartoon/smartphone.png", class:"img-fluid w-75 float-right") %>

        </div>



    </div>

</section>

</div>



