<section class="container col-12 py-5" id="tynkle-hero-responsive">

    <div class="row px-5">

        <div class="col-6">

            <h3 class="pt-7 pb-4">Tynkle toujours avec moi !
            </h3>

            <h5 class="pt-4"> Une plateforme accessible sur tous tes
            appareils
            </h5>
            <h5 class="pt-4"> Un design Responsive et Intuitif
            </h5>

        </div>



        <div class="col-6" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("cartoon/smartphone.png", class:"img-fluid w-75 float-right") %>

        </div>



    </div>

</section>