<section class="py-5" id="tynkle-hero-testimonials">
    <div class="container">
        <h3 class="text-center my-6">Ils ont fait confiance à Tinkle !</h3>

        <div class="row mb-2">

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-0.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Meredith Goodwin</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-1.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Weeks Garrett</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-2.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Fisher Bauer</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="img/avatar/agent-3.png" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-secondary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Aguilar Webb</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">RATE</p>
                <p class="card-footer"> babababab </p>
                </div>
            </div>
            </div>

        </div>
    </div>

</section>