<div class="jumbotron jumbotron-fluid hero-value-prop bg-dark-blue">

<div class="container pt-6">



<div class="row">
<div class="col message">
<h1 class="display-4">Tynkle,</h1>
<h2>Plateforme de dépannage Informatique entre particuliers </h2>
</div>
<div class="col">
</div>
</div>

<div class="row">
<div class="col">
</div>
<div class="col">
</div>
<div class="col">
<a href="#" class="btn btn-lg btn-success text-capitalize">Chercher un helper</a>
</div>
<div class="col">
</div>
<div class="col">
</div>
</div>



</div>

</div>
    

