<div class="jumbotron jumbotron-fluid hero-value-prop">

<div class="container">
<h1 class="display-4">Tynkle,</h1>

<hr class="my-5">

<h2>Plateforme de dépannage Informatique entre particuliers </h2>

<hr class="my-6">


<p class="lead col-md-3 offset-md-6 text-right">
  <a href="#" class="btn btn-lg btn-success text-capitalize">Chercher un helper</a>
</p>


</div>

</div>
    

