<section class="px-4 p-2 bg-light-grey text-center">


<h3 class="py-4 text-center text-primary"> Tu veux aider la communauté ? </br>
Deviens Helper !</h3>

    <div class="row p-4 justify-content-center text-primary">


        <div class="col hover-animate">

            <%= image_tag "icons/find-missions-around-you", class:"img-fluid"%>

            <h6 class="my-4"> Trouves des missions autour de chez toi </h6>

        </div>

        <div class="col hover-animate">

            <%= image_tag "icons/boost-your-income", class:"img-fluid"%>
            <h6 class="my-4"> Augmente tes revenus grâce à Tynkle </h6>

        </div>
        <div class="col hover-animate">

            <%= image_tag "icons/work-when-and-wherever-you-want", class:"img-fluid"%>
            <h6 class="my-4"> Travaille où tu veux et quand tu veux </h6>

        </div>
        <div class="col hover-animate">

            <%= image_tag "icons/be-part-of-a-friendly-community", class:"img-fluid"%>
            <h6 class="my-4"> Fais partie d'une communauté de passionnés</h6>
            
        </div>


    </div>
   

</section>