<section class="container col-12 hero-value-prop mb-6" id="tynkle-hero-welcome">


    <h2 class="py-hero-welcome text-center red-shadow"> Tynkle, plateforme de dépannage Informatique entre particuliers  <h2>

    

    <a href="#" class="btn btn-success text-capitalize" id="call-2-action-tynkle-hero-welcome">Chercher un helper</a>

    

</section>