<section class="py-2 bg-transparent my-4" id="tynkle-hero-testimonials">
    <div class="container">

    

        <h3 class="text-center shadow-title my-3">Ils ont fait confiance à Tinkle !</h3>
  
        <div class="row pt-6">

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-primary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Paul Webbs</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">4/5</p>
                <div class='starrr'></div>
                <blockquote class="blockquote-footer"><h6 class="card-footer">" Un grand merci à Tynkle, une plateforme de spécialiste qui répond à vos besoin "</h6>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="https://images.unsplash.com/photo-1568337339905-7165c43848b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-primary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Natacha Andrei</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">5/5</p>
                <div class='starrr'></div>
                <blockquote class="blockquote-footer"><h6 class="card-footer">" Plus la peine de se perdre au fin fond de leboncoin ou AlloVoisin, Tynkle c'est la Plateforme de l'entraide Informatique "</h6>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-primary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Mélanie Rasse</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">3/5</p>
                <div class='starrr'></div>
                <blockquote class="blockquote-footer"><h6 class="card-footer">"Une recherche simple et efficace, des personnes disponibles et compétentes, bonne expérience, je recommande"</h6></blockquote>
                </div>
            </div>
            </div>

            <div class="mb-3 mb-lg-0 col-sm-6 col-lg-3" data-aos="flip-left"
            data-aos-easing="ease-out-cubic"
            data-aos-duration="2000">
            <div class="card border-0 hover-animate bg-transparent"><a href="#" class="position-relative"><img src="https://images.unsplash.com/photo-1518644730709-0835105d9daa?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="" class="card-img-top team-img"/>
                <div class="team-circle bg-primary-light"></div></a>
                <div class="card-body team-body text-center">
                <h6 class="card-title">Pierre Martin</h6>
                <p class="card-subtitle text-muted text-xs text-uppercase">5/5</p>
                <div class='starrr'></div>
                <blockquote class="blockquote-footer"><h6 class="card-footer">" Une solution innovante et spécialisée qui complète l'offre de catalogues plus généralistes "</h6></blockquote>
                </div>
            </div>
            </div>

        </div>
    </div>

    <div class="text-center">
        <%= link_to "Faire comme Meredith", new_user_registration_path , class:"btn btn-lg btn-primary text-capitalize mt-4 mb-5" %>
    </div>

</section>

<%= javascript_tag("$('.starrr').starrr({
    rating: 5
  })") %>
  <%= javascript_tag("$('.starrr').starrr({
    readOnly: true
  })") %>
