<section class="container col-12 py-2 my-4" id="tynkle-hero-responsive">

    <div class="row px-5 d-flex align-items-center">


        <div class="col">

            <h2 class="shadow-title">Tynkle toujours avec moi !
            </h2>

            <h4 class="my-4"> Une plateforme accessible sur tous tes
            appareils
            </h4>
            <h4 class="my-4"> Un design Responsive et Intuitif
            </h4>

            <a href="#" class="btn btn-primary text-capitalize">Essayer Tynkle</a>
            
        </div>



        <div class="col" data-aos="fade-up"
        data-aos-easing="linear"
        data-aos-duration="1500">

            <%= image_tag("cartoon/smartphone.png", class:"img-fluid w-50 float-right") %>

        </div>





    </div>


   

</section>