<li class="nav-item">
  <%= link_to "#pills-skills-selected", class:"nav-link d-flex", id:"pills-skills-selected-tab", 'data-toggle':"pill", 'role':"tab", 'aria-controls':"pills-skills-selected", 'aria-selected':"false" do %> 
  <%= content_tag :div, "Compétences sélectionnées" %>
  <%= content_tag :span, (@user_devices_skills + @user_skills).length, class:"badge badge-pill badge-secondary ml-2" %>
  <% end %>
</li>
