
<div class="tab-pane fade" id="pills-device_categories" role="tabpanel" aria-labelledby="pills-device_categories-tab justify-content-center">
    
    <hr class="mt-4 mb-2">
    
    
          <%= f.label :"Sélectionne les types d'appareils que tu souhaite dépanner", class:"form-control border-0 font-weight-bolder" %>
    
          <div class="form-group">
    
    
          <% @link_device_categories_to_users.each do |link| %>
    
            <div class="form-inline">
    
              <div class="col">
                  <%= f.label :"#{link.device_category.title}", class:"form-control border-0", 'data-toggle': 'tooltip', 'data-placement':'top', title: "later on" %>
              </div>
    
              <div class="col-3">
                <div class="form-check form-check-inline">
    
                    <%= f.check_box :"#{link.device_category.title}", class:"form-check-input mx-2", checked:link.acquired%>
                    <%= f.label :oui, class:"form-check-label mx-2"%>    
    
                </div>
              </div>
    
            </div>
    
            <% end %>
    
            </div>
    
    
    
      </div>