<section class="container">

    <%=render 'contact_details_image_row_upon_form' %>
    <%=render 'contact_details_title_row_upon_form' %>
    <%=render 'contact_details_form_fill_up_contact_details' %>


</section>