<section class="container">

    <%=render 'how_do_we_call_you_image_row_upon_form' %>
    <%=render 'how_do_we_call_you_title_row_upon_form' %>
    <%=render 'how_do_we_call_you_form_fill_up_identity' %>

   
</section>