<section class="container">

    <%=render 'location_data_image_row_upon_form' %>
    <%=render 'location_data_title_row_upon_form' %>
    <%=render 'location_data_form_fill_up_location' %>

</section>
