<section class="container">

    <%= render 'service_provider_image_row_upon_form' %>

    <%= render 'service_provider_title_row_upon_form' %>

    <%= render 'service_provider_form_service_provider_choice' %>

</section>