    /* your styles go here */
    
    .bg-material {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .bg-sign-up {
        background-image: url(https://images.pexels.com/photos/1456955/pexels-photo-1456955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-size: cover;
    }
    
    .bg-log-in {
        background-image: url(photos/login/devices-man-login.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .hero-value-prop {
        margin-top: 8rem;
        background-image: url(photos/landing-page/hero-welcome.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    ol.steps-problem-description-home li {
        list-style-type: none;
    }
    
    .pt-10 {
        padding-top: 12rem;
    }
    
    .text-dark-force {
        color: #000;
    }
    
    .py-8 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    
    .py-10 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    
    .py-12 {
        padding-top: 14rem;
        padding-bottom: 14rem;
    }
    
    .pt-8 {
        padding-top: 10rem;
    }
    
    .py-hero-welcome {
        padding-top: 11rem;
        padding-bottom: 14rem;
    }
    
    #call-2-action-tynkle-hero-welcome {
        position: absolute;
        top: 17rem;
        right: 20rem;
    }
    
    .bg-light-brown {
        background-color: #474747;
    }
    
    .hover-underline:hover {
        cursor: pointer;
    }
    
    .hover-underline:hover .hover-weigth-underline {
        border-bottom: 0.30rem solid #2946F7
    }
    
    .red-shadow {
        text-shadow: -5px 4px 2px rgba(206, 89, 55, 0.92);
    }