    /* your styles go here */
    
    
    .bg-sign-up {
        background-image: url(https://images.pexels.com/photos/1456955/pexels-photo-1456955.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
        background-position: center;
        background-size: cover;
    }
    
    .bg-log-in {
        background-image: url(photos/login/devices-man-login.jpg);
        background-position: center;
        background-size: cover;
    }
    
    .hero-value-prop {
        background-image: url(photos/landing-page/hero-welcome-5.png);
        background-position: bottom right;
        background-repeat: no-repeat;
        background-size: 65%;
    }
    
    ol.steps-problem-description-home li {
        list-style-type: none;
    }
    
    .pt-10 {
        padding-top: 12rem;
    }
    
    .text-dark-force {
        color: #000;
    }
    
    .py-8 {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
    
    .py-10 {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    
    .py-12 {
        padding-top: 14rem;
        padding-bottom: 14rem;
    }
    
    .pt-8 {
        padding-top: 10rem;
    }
    
    .py-hero-welcome {
        padding-top: 11rem;
        padding-bottom: 14rem;
    }
    
    .bg-light-brown {
        background-color: #474747;
    }
    
    .hover-underline:hover {
        cursor: pointer;
    }
    
    .hover-underline:hover .hover-weigth-underline {
        border-bottom: 0.30rem solid #2946F7
    }
    
    .hover-underline:hover .hover-weigth-underline-white {
        border-bottom: 0.30rem solid #FFF
    }
    .hover-underline:hover .hover-weigth-underline-dark {
        border-bottom: 0.30rem solid #000
    }
    .shadow-title {
        text-shadow: 0px 3px 0px #b2a98f, 0px 14px 10px rgba(0, 0, 0, 0.15), 0px 24px 2px rgba(0, 0, 0, 0.1), 0px 34px 30px rgba(0, 0, 0, 0.1);
    }
    
    .bg-light-grey {
        background-color: #F3F7F8;
    }

    .bg-light-grey-2{
        background-color:#EBEBEB;
    }
  
    .skill-card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.4rem;
        max-width: 10vw;
    }
    
    .bg-grey {
        background-color: #6C757D;
    }
   
    
    .bg-dark-blue {
        background-color: #5D7BEF;
    }
    
    .text-grey {
        color: #6C757D;
    }
    
    .circle {
        clip-path: circle();
    }


    .bg-light-blue{
        background-color: #87BACF;
    }

    .rounded-corner{
        border-radius: 2rem;
    }

    #tabs-value-proposition{
        height: 22rem;
    }

    .shadow-lg-white {
        box-shadow: 0 1rem 3rem rgba(255, 255, 255, 0.175) !important;
    }

    #talkHistory{
        overflow: auto;
        height: 80vh;
    }

    #messageShow{
        overflow: auto;
        height: 80vh;

    }

    .h-10rem{
       height: 10rem;
    }

    .h-30rem{

        height: 30rem;

    }

    .w-30rem{

        width: 30rem;

    }

    .w-18rem{

        width: 18rem;

    }
    .h-18rem{

        height: 18rem;

    }

    .h-25rem{

        height: 25rem;

    }


    .bg-new{
        background-color: rgb(228, 228, 228);
       
    }

    .border-primary-lg {
        border: 0.5rem solid #4E66F8 !important;
        
    }

    .border-success-lg {
        border: 0.5rem solid #28a745 !important;
    }



    #sent-inbox,#received-inbox{
        cursor: pointer;
    }


    .bg-edit-user {
        background-image: url(photos/edit_user/edit_profile.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }



    .border-black {
        border: 0.15rem solid #000 !important;

    }
    
    .avatar-2 {
        display: inline-block;
        position: relative;
        width: 8rem;
        height: 8rem;
        text-align: center;
        border: #dee2e6;
        border-radius: 50%;
        background: #fff;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15);
        line-height: 3rem;
    }
   
#relative{
    position: relative;
}

#map-user-geolocation {
    height: 100%;
    width: 100%;
    position:absolute;
    top: 0rem;
    left: 0rem;
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
  
  #contactform {
    position: relative;
    z-index: 1; /* The z-index should be higher than Google Maps */
    width: 100%;
    height: auto;
  }


#map-helper-geolocation{height: 15rem; width:50rem;}



