<ol class="list-unstyled d-flex flex-wrap ">
    <li><%= link_to "#{@mission.device_category.title.capitalize}", root_path, class:"badge badge-primary mx-2 my-2"%></li>
    <li><%= link_to "#{@mission.categorytag.name.capitalize}", root_path, class:"badge badge-primary mx-2 my-2" %></li>
</ol>