<div class="text-block">
<div class="row">
  <div class="col">
    <h6>Budget :</h6>
    <p class="text-muted"><%= @mission.price %> €</p>
  </div>
  <div class="col align-self-center">
    <%= render 'button_trigger_send_private_message_mp'%>
    <%= render 'button_trigger_make_an_offer'%>
  </div>
</div>
</div>