<div class="text-block">
<h6 class="mb-4">Description de la mission</h6>
<p> <%= @mission.description %> </p>

<hr class="my-5">

<%= render 'list_mission_contact_and_help_type' %>

<hr class="my-5">

<h5> Images </h5>

<%= render 'carroussel_images_attached_slideshow' %>

</div>