<div class="row">
    <div class="col">
        <div class="form-group col">
            <%=  f.label :"Titre_de_la_demande :" %>
            <%=  f.text_field :title, class:"form-control mb-4", required:true  %>
        </div>
    </div>
    <div class="col">
        <div class="form-group col-12">
        <%=  f.label :"Budget :" %>
        <%=  f.number_field :price, class:"form-control", required:true  %>
        </div>
    </div>
</div>