<div class="form-group col-12">
    <%=  f.label :"Localisation :" %>
    <%=  f.text_field :address, class:"form-control", id:"autocomplete_address", required: true   %>
    <small class="form-text text-muted">Nous t'aidons en utlisant Google Maps pour une géolocalisation plus précise.</small>
</div>
