<div class="form-group col-12">
    <%=  f.label :"Ajouter des fichiers :" %>

    <div class="row">
        <div class="col">
        <%=  f.file_field :image_one, class:"form-control-file mb-4"  %>
        </div>
        <div class="col">
        <%=  f.file_field :image_two, class:"form-control-file mb-4"  %>
        </div>
        <div class="col">
        <%=  f.file_field :image_three, class:"form-control-file mb-4"  %>
        </div>
    </div>

</div>
