<%= render 'layouts/navbar_white' %>


<section class="justify-content-center text-center">

<%= render 'form_search_mission' %>

<%= render 'missions_cards' %>

</section>

<%= javascript_tag ('reloadPage()') %>