<footer class="bg-light-grey-2 text-center p-5">
    <div class="row">
        <div class="col  my-auto">

            <h6 class="pb-2"> Contactez-nous </h6>
            <h6 class="pt-2">Mentions légales</h6>

        </div>
        <div class="col  my-auto">

            <%= link_to "S'inscrire", new_user_registration_path, class:"btn btn-lg btn-light btn-outline-primary font-weight-bold  m-2"%>
    
        </div>
        <div class="col text-center  my-auto">

            <%=image_tag("logo/brand.png", class:"img-fluid", size:"120x80", alt:"Tynkle logo")%>

            <div class="row py-2">

                <div class="col text-right my-auto">

                    <i class="fab fa-facebook-f "></i>

                </div>
                <div class="col text-center  my-auto">

                    <i class="fab fa-instagram"></i>

                </div>
                <div class="col text-left  my-auto">

                    <i class="fab fa-twitter"></i>

                </div>

            </div>

            </div>

            <div class="col  my-auto">

            <%= link_to "Se connecter", new_user_session_path, class:"btn btn-lg btn-light btn-outline-success font-weight-bold  m-2"%>

            </div>
        <div class="col  my-auto">

            <h6 class="pb-2"> L’équipe </h6>
            <h6 class="pt-2"> Presse / Actualités </h6>

        </div>
    </div>
</footer>