<!-- Megamenu-->
<li class="nav-item dropdown position-static"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle font-weight-bold">Template</a>
  <div class="dropdown-menu megamenu">
        <div class="row p-4 h-100">
            <div class="col">
                    <div class="row">

                        <div class="col">
                            <!-- Megamenu list-->
                            <h6 class="text-uppercase">Rechercher par type d'appareil</h6>
                            <ul class="megamenu-list list-unstyled">

                                <% DeviceCategory.all.each do |device| %>
                            
                                    <li class="megamenu-list-item">
                                        <%= link_to device.title.capitalize, root_path, class:"megamenu-list-link"%>
                                    </li>
                    
                                <% end %>
                    
                            </ul>
                        </div>

                    </div>

                    <hr>

                    <div class="row">

                    <% Categorytag.all.each do |categorytag| %>

                    
                        <div class="col">
                                <!-- Megamenu list-->
                                <h6 class="text-uppercase"><%=categorytag.name.capitalize%></h6>
                                <ul class="megamenu-list list-unstyled">

                                <% Skill.all.where(categorytag:categorytag).each do |skill| %>
                    
                                        <li class="megamenu-list-item">
                                            <%= link_to skill.name.capitalize, root_path, class:"megamenu-list-link"%>
                                        </li>
                                        
                                    <% end %>

                        
                                </ul>
                        </div>

                    <% end %>

                </div>
                </div>
        </div>
  </div>
</li>
<!-- /Megamenu end-->


